<!-- pages/user-profile -->
<div class="row">
    <div class="col">
        <div class="user-profile-top">
            <img class="rounded-circle" src="/assets/faces/avatar.png" alt="image" />
            <h5 *ngIf="!user.firstName" class="name">{{user.username}}</h5>
            <h5 *ngIf="user.firstName" class="name">{{user.firstName}} {{user.lastName}}</h5>            
            <p *ngIf="!user.position">
                ML Engineer </p>
            <p *ngIf="user.position">
                {{user.position}}
            </p>
            <div class="row text-center buttons">
                <div class="col">
                    <div class="row flex-items-xs-middle">
                        <div class="col">
                            <button type="button" class="btn btn-github btn-circle btn-outline btn-xs">
<i class="fa fa-github"></i>
</button>
                            <button type="button" class="btn btn-twitter btn-circle btn-outline btn-xs">
<i class="fa fa-twitter"></i>
</button>
                            <!-- <button type="button" class="btn btn-youtube btn-circle btn-outline btn-xs">
<i class="fa fa-youtube"></i> -->
<!-- </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" data-target="#user-profile-tabs-1">Account settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" data-target="#user-profile-tabs-2">Email preferences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" data-target="#user-profile-tabs-3">Security settings</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="user-profile-tabs-1">
                        <div class="row">
                            <div class="col col-xl-4">
                                <div class="widget">
                                    <div class="row">
                                        <div class="col">
                                            <p>First name</p>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
																													<i class="sli-user-follow"></i>
																												</span>
                                                    <input type="text" class="account-settings form-control" value={{user.firstName}} placeholder="first name" name="firstName">
                                                </div>
                                            </div>
                                            <p>Last name</p>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
																													<i class="sli-user-following"></i>
																												</span>
                                                    <input type="text" class="account-settings form-control" value={{user.lastName}} placeholder="last name" name="lastName">
                                                </div>
                                            </div>
                                            <p>Company</p>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
																													<i class="sli-map"></i>
																												</span>
                                                    <input type="text" class="account-settings form-control" value={{user.company}} placeholder="company" name="company">
                                                </div>
                                            </div>
                                            <p>Position</p>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
																													<i class="sli-star"></i>
																												</span>
                                                    <input type="text" class="account-settings form-control" value={{user.position}} placeholder="ML Engineer" name="position">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary" (click)=updateAccountSettings()>Update account settings</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="user-profile-tabs-2">
                        <div class="row">
                            <div class="col col-xl-4">
                                <div class="widget">
                                    <div class="row">
                                        <div class="col">
                                            <p>Current email</p>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
																													<i class="sli-envelope-open"></i>
																												</span>
                                                    <input type="text" class="form-control email-settings" placeholder="" value={{user.email}} name="accountEmail">
                                                </div>
                                            </div>
                                            <p>Daily updates</p>
                                            <div class="form-group">
                                                <label class="custom-control custom-radio">
																											<input id="radio1" name="radio1" type="radio" class="custom-control-input">
																											<span class="custom-control-indicator"></span>
																											<span class="custom-control-description">Yes</span>
																									</label>
                                                <label class="custom-control custom-radio">
																											<input id="radio2" name="radio1" type="radio" class="custom-control-input" checked>
																											<span class="custom-control-indicator"></span>
																											<span class="custom-control-description">No</span>
																									</label>
                                            </div>
                                            <p>Weekly updates</p>
                                            <div class="form-group">
                                                <label class="custom-control custom-radio">
																											<input id="radio3" name="radio2" type="radio" class="custom-control-input">
																											<span class="custom-control-indicator"></span>
																											<span class="custom-control-description">Yes</span>
																									</label>
                                                <label class="custom-control custom-radio">
																											<input id="radio4" name="radio2" type="radio" class="custom-control-input" checked>
																											<span class="custom-control-indicator"></span>
																											<span class="custom-control-description">No</span>
																									</label>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary" (click)=onEmailUpdateClick()>Update email preferences</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="user-profile-tabs-3">
                        <div class="row">
                            <div class="col col-xl-4">
                                <div class="widget">
                                    <div class="row">
                                        <div class="col">
                                            <p>Current password</p>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
																													<i class="sli-lock-open"></i>
																												</span>
                                                    <input type="password" class="form-control" placeholder="*******">
                                                </div>
                                            </div>
                                            <p>New password</p>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
																													<i class="sli-lock"></i>
																												</span>
                                                    <input type="password" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <p>Confirm new password</p>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
																													<i class="sli-lock"></i>
																												</span>
                                                    <input type="password" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary">Update security settings</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end pages/user-profile -->
