<div class="row">
  <div class="col-12 col-lg-6">
    <div class="widget">
      <div class="btn-group btn-group-outline" role="group">
        <button type="button" class="btn btn-primary btn-outline btn-icon" (click)="getModels()" data-toggle="tooltip" data-placement="top" title="Create New Model">
          <i class="sli-2x sli-note"></i>
        </button>
        <button type="button" class="btn btn-primary btn-outline btn-icon" data-toggle="tooltip" data-placement="top" title="Upload Weights">
          <i class="sli-2x sli-cloud-upload"></i>
        </button>
        <button type="button" class="btn btn-primary btn-outline btn-icon" data-toggle="tooltip" data-placement="top" title="Download Weights">
          <i class="sli-2x sli-cloud-download"></i>
        </button>
        <button type="button" class="btn btn-secondary btn-outline btn-icon" data-toggle="tooltip" data-placement="top" title="Copy">
          <i class="sli-2x sli-doc"></i>
        </button>
        <button type="button" class="btn btn-secondary btn-outline btn-icon" data-toggle="tooltip" data-placement="top" title="Paste">
          <i class="sli-2x sli-docs"></i>
        </button>
        <button type="button" class="btn btn-secondary btn-outline btn-icon" data-toggle="tooltip" data-placement="top" title="Refresh">
          <i class="sli-2x sli-refresh"></i>
        </button>
        <button type="button" class="btn btn-danger btn-outline btn-icon" data-toggle="tooltip" data-placement="top" title="Delete">
          <i class="sli-2x sli-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="widget">
    <div class="table-responsive">
      <table id="model-datatable" class="table table-hover table-bordered">
        <thead>
          <tr>
            <th class="center">
              <input type="checkbox">
            </th>
            <th>Name</th>
            <th>Summary</th>
            <th>No of layers</th>
            <th>Created At</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let model of models">
            <td class="center">
              <input type="checkbox">
            </td>
            <td><a (click)="selectModel(model)"><u>{{model.name}}</u></a></td>
            <td>{{model.description}}</td>
            <td>{{model.hidden}}</td>
            <td>{{model.createdAt}}</td>
            <td>
              <div class="btn-group btn-group-outline" role="group">
                <button type="button" class="btn btn-primary btn-icon btn-outline" data-toggle="tooltip" placement="top" title="Edit">
                  <i class="sli-pencil"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-icon btn-outline" data-toggle="tooltip" placement="top" title="Download Weights">
                  <i class="sli-star"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<hr>
<div *ngIf="currentModel" class="row">
  <div class="col">
    <div class="widget">
      <div class="row">
        <div class="col">
          <h3>Model Details</h3>
          <div class="title">
            Name: {{currentModel.name}}
          </div>
          <!-- <div class="description">
            {{currentModel.name}}
          </div> -->
          <!-- <h4>Name: </h4><p>{{currentModel.name}}</p> -->
        </div>
      </div>
      <div class="row">
        <div id="canvasWrapper" class="col-9">
          <canvas id="canvas" style="border: 1px solid #ccc"></canvas>
        </div>
        <div *ngIf="editorService.currentLayer" class="col-3">
          <div *ngIf="editorService.currentLayer">
            <h6 class="primary"><b>Layer Config</b></h6>
            <div [ngSwitch]="editorService.currentLayer.layer_type">
              <ng-template [ngSwitchCase]="'AC'">
                <p><b>Layer Type:</b> Activation Layer</p>
                <p><b>Activation:</b> {{editorService.currentLayer.layerConfig.activation_fn}}</p>
              </ng-template>
              <ng-template [ngSwitchCase]="'PL'">
                <p><b>Layer Type:</b> Pooling Layer</p>
                <p><b>Pool Type:</b> {{editorService.currentLayer.layerConfig.pool_type}}</p>
                <p><b>Kernel Size:</b> {{editorService.currentLayer.layerConfig.kernel_size}}</p>
                <p><b>Stride:</b> {{editorService.currentLayer.layerConfig.stride}}</p>
                <p><b>Padding:</b> {{editorService.currentLayer.layerConfig.padding}}</p>
              </ng-template>
              <ng-template [ngSwitchCase]="'AF'">
                <p><b>Layer Type:</b> Affine Layer</p>
                <p><b>In Features:</b> {{editorService.currentLayer.layerConfig.in_features}}</p>
                <p><b>Out Features:</b> {{editorService.currentLayer.layerConfig.out_features}}</p>
              </ng-template>
              <ng-template [ngSwitchCase]="'CN'">
                <p><b>Layer Type:</b> Convolution Layer</p>
                <p><b>In Channels:</b> {{editorService.currentLayer.layerConfig.in_channels}}</p>
                <p><b>Out Channels:</b> {{editorService.currentLayer.layerConfig.out_channels}}</p>
                <p><b>Kernel Size:</b> {{editorService.currentLayer.layerConfig.kernel_size}}</p>
                <p><b>Stride:</b> {{editorService.currentLayer.layerConfig.stride}}</p>
                <p><b>Padding:</b> {{editorService.currentLayer.layerConfig.padding}}</p>
              </ng-template>
              <ng-template [ngSwitchCase]="'BN'">
                <p><b>Layer Type:</b> Batch Norm Layer</p>
                <p><b>Num Features:</b> {{editorService.currentLayer.layerConfig.num_features}}</p>
                <p><b>Epsilon:</b> {{editorService.currentLayer.layerConfig.epsilon}}</p>
                <p><b>Momentum:</b> {{editorService.currentLayer.layerConfig.momentum}}</p>
              </ng-template>
              <ng-template [ngSwitchCase]="'DR'">
                <p><b>Layer Type:</b> Dropout Layer</p>
                <p><b>Percent:</b> {{editorService.currentLayer.layerConfig.percent}}</p>
              </ng-template>
              <ng-template [ngSwitchCase]="'RS'">
                <p><b>Layer Type:</b> Reshape Layer</p>
                <p><b>X dim:</b> {{editorService.currentLayer.layerConfig.x}}</p>
                <p><b>Y dim:</b> {{editorService.currentLayer.layerConfig.y}}</p>
              </ng-template>
            </div>
            <!-- <div>{{editorService.currentLayer?.layer_type}}</div> -->
          </div>
          <hr>
          <div *ngIf="editorService.currentLayerGrads">
            <h6><b>Layer Grads</b></h6>
            <p><b>Norm:</b> {{editorService.currentLayerGrads.norm}}</p>
            <p><b>Zero Percent:</b> {{editorService.currentLayerGrads.zeros}}</p>
            <p><b>Positive Percent:</b> {{editorService.currentLayerGrads.positive}}</p>
            <p><b>Negative Percent:</b> {{editorService.currentLayerGrads.negative}}</p>
            <p><b>Exploded Grads:</b> {{editorService.currentLayerGrads.exploded}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>