<div class="row">
  <div class="col">
    <div class="widget">
      <div class="row">
        <div class="col">
          <div class="title">Add Credit</div>
          <div class="description">Enter amount in USD and pay using paypal</div>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-3">
          <div class="title">Enter amount in USD:</div>
        </div> -->
        <div class="col-3">
          <div class="form-group">
            <input type="text" id="paypalAmount" class="form-control" placeholder="10.00" value="10.00">
            <div class="form-control-feedback"></div>
          </div>
        </div>
        <div class="col-3">
          <div id="paypal-button"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="widget">
      <div class="row">
        <div class="col">
          <div class="title">Payment History</div>
          <div class="description">Last 10 transactions</div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>Amount</th>
                  <th>Time Stamp</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>20.00</td>
                  <td>Wed 11 Oct 2017 13:16:20 IST</td>
                </tr>
                <tr>
                  <td>100.00</td>
                  <td>Wed 11 Oct 2017 16:24:43 IST</td>
                </tr>
                <tr>
                  <td>100.00</td>
                  <td>Wed, 10 Oct 2017 07:49:37</td>
                </tr>
                <tr>
                  <td>235.00</td>
                  <td>Mon, 09 Oct 2017 12:01:40</td>
                </tr>
                <tr>
                  <td>35.00</td>
                  <td>Sun, 08 Oct 2017 21:12:22</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>