<!-- forms/typeahead -->
<div class="row">
  <div class="col">
    <div class="widget">
      <div class="row">
        <div class="col">
          <div class="title">Reinforcement Learning</div>
          <div class="description">Solve Reinforcement Learning environments Using various techniques</div>
        </div>
      </div>
      <!-- <div class="row">
              <div class="col col-xl-6">
                  <fieldset class="form-group">
                      <label>Gym Env Id</label>
                      <input autocomplete="off" type="text" name="gym-env-ids-input" data-provide="typeahead" class=" gym-env-ids-input form-control">
                  </fieldset>
              </div>
          </div> -->
      <div class="row">
        <div class="col">
          <div id="form-steps-1">
            <ul class="nav nav-tabs nav-tabs-justified" id="steps">
              <li class="nav-item">
                <a class="nav-link active tab-0" data-toggle="tab" data-target="#tab-0">Experiment Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled tab-1" data-toggle="tab" data-target="#tab-1">Algorithm Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled tab-2" data-toggle="tab" data-target="#tab-2">Neural Network Settings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled tab-3" data-toggle="tab" data-target="#tab-3">Launch Config</a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="tab-0">
                <form id="step-0">
                  <div class="row">
                    <div class="col col-xl-6">
                      <div class="form-group">
                        <label>Experiment Name</label>
                        <input type="text" class="form-control rl-params" id="exp" name="exp" placeholder="Name">
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                    <div class="col col-xl-6">
                      <div class="form-group">
                        <label>Environment Name</label>
                        <!-- <input type="text" class="form-control rl-params" id="env-name-0" name="env-name-0"> -->
                        <select class="form-control rl-params" id="env_name" name="env_name">
                          <option value="">Choose a gym env</option>
                          <option *ngFor="let envid of gymEnvIds" [value]="envid">{{envid}}</option>
                        </select>
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                  </div>
                  <div class="row m-b-20">
                    <div class="col col-xl-6">
                      <div class="form-group">
                        <label>Experiment Description</label>
                        <textarea class="form-control rl-params" rows="e" id="exp_desc" name="exp_desc" placeholder="Description"></textarea>
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                    <div class="col col-xl-6">
                      <div class="form-group">
                        <label>Max Episodes</label>
                        <input type="text" class="form-control rl-params" id="max_episode" placeholder=10000 name="max_episode">
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <button class="btn btn-primary" type="submit" name="submit">Next step</button>
                    </div>
                  </div>
                </form>
              </div>
              <div role="tabpanel" class="tab-pane" id="tab-1">
                <form id="step-1">
                  <div class="row">
                    <div class="col col-xl-4">
                      <div class="form-group">
                        <label>Algorithm Name</label>
                        <!-- <input type="text" class="form-control rl-params" id="algorithm-name-1" name="algorithm-name-1"> -->
                        <select class="form-control rl-params" id="algo_name" name="algo_name">
                          <option value="">Choose an Algorithm</option>
                          <option value="trpo">Trust Region Policy Optimization</option>
                          <option value="ddpg">Deep Deterministic Policy Gradient</option>
                          <option value="qprop">Q-Prop</option>
                          <option value="vpg">Vanilla Policy Gradient</option>
                        </select>
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                    <div class="col col-xl-4">
                      <div class="form-group">
                        <label>Discount(v)</label>
                        <input type="text" class="form-control rl-params variant" id="var_discount" name="var_discount" placeholder="0.99">
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                    <div class="col col-xl-4">
                      <div class="form-group">
                        <label>Learning Rate(v)</label>
                        <input type="text" class="form-control rl-params variant" id="var_learning_rate" name="var_learning_rate" placeholder="0.001">
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                  </div>
                  <div class="row m-b-20">
                    <div class="col col-xl-4">
                      <div class="form-group">
                        <label>GAE Lambda(v)</label>
                        <input type="text" class="form-control rl-params variant" id="var_gae_lambda" name="var_gae_lambda" placeholder="0.97">
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                    <div class="col col-xl-4">
                      <div class="form-group">
                        <label>Step Size(v)</label>
                        <input type="text" class="form-control rl-params variant" id="var_step_size" name="var_step_size" placeholder="0.01">
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                    <div class="col col-xl-4">
                      <div class="form-group">
                        <label>Batch Size(v)</label>
                        <input type="text" class="form-control rl-params variant" id="var_batch_size" name="var_batch_size" placeholder="10000">
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                  </div>
                  <div class="row m-b-20">
                    <div class="col col-xl-4">
                      <div class="form-group">
                        <label>Replay Pool Size(v)</label>
                        <input type="text" class="form-control rl-params variant" id="var_replay_pool_size" name="var_replay_pool_size" placeholder="1000000">
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                    <div class="col col-xl-4">
                      <div class="form-group">
                        <label>QF Learning Rate(v)</label>
                        <input type="text" class="form-control rl-params variant" id="var_qf_learning_rate" name="var_qf_learning_rate" placeholder="0.01">
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                    <div class="col col-xl-4">
                      <div class="form-group">
                        <label>Policy Batch Size(v)</label>
                        <input type="text" class="form-control rl-params variant" id="var_policy_batch_size" name="var_policy_batch_size" placeholder="64">
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                  </div>
                  <div class="row m-b-20">
                    <div class="col col-xl-4">
                      <div class="form-group">
                        <label>QF Batch Size(v)</label>
                        <input type="text" class="form-control rl-params variant" id="var_qf_batch_size" name="var_qf_batch_size" placeholder="64">
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                    <div class="col col-xl-4">
                      <div class="form-group">
                        <label>Seed(v)</label>
                        <input type="text" class="form-control rl-params variant" id="var_seed" name="var_seed" placeholder="1">
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                    <div class="col col-xl-4">
                      <div class="form-group">
                        <label>Scale Reward(v)</label>
                        <input type="text" class="form-control rl-params variant" id="var_scale_reward" name="var_scale_reward" placeholder="1.0">
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <button data-target=".tab-0" class="go-back btn btn-primary btn-outline">Previous step</button>
                      <button class="btn btn-primary" type="submit" name="submit">Next step</button>
                    </div>
                  </div>
                </form>
              </div>
              <div role="tabpanel" class="tab-pane" id="tab-2">
                <form id="step-2">
                  <div class="row">
                    <div class="col col-xl-4">
                      <div class="form-group">
                        <label>Policy Hidden Sizes</label>
                        <input type="text" class="form-control rl-params" id="policy_hidden_sizes" name="policy_hidden_sizes" placeholder="200x100x50">
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                    <div class="col col-xl-4">
                      <div class="form-group">
                        <label>Policy Hidden Non Linearity</label>
                        <select class="form-control rl-params" id="policy_hidden_nonlinearity" name="policy_hidden_nonlinearity">
                          <option value="">Choose a Non Linearity</option>
                          <option value="relu">Relu</option>
                          <option value="tanh">tanh</option>
                        </select>
                        <small class="form-control-feeback"></small>
                      </div>
                    </div>
                    <div class="col col-xl-4">
                      <div class="form-group">
                        <label>Policy output Non Linearity</label>
                        <select class="form-control rl-params" id="policy_output_nonlinearity" name="policy_output_nonlinearity">
                          <option value="">Choose a Non Linearity</option>
                          <option value="relu">Relu</option>
                          <option value="tanh">tanh</option>
                        </select>
                        <small class="form-control-feeback"></small>
                      </div>
                    </div>
                  </div>
                  <div class="row m-b-20">
                    <div class="col col-xl-4">
                      <div class="form-group">
                        <label>QF Hidden Sizes</label>
                        <input type="text" class="form-control rl-params" id="qf_hidden_sizes" name="qf_hidden_sizes" placeholder="64x64">
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                    <div class="col col-xl-4">
                      <div class="form-group">
                        <label>QF Hidden Nonlinearity</label>
                        <select class="form-control rl-params" id="qf_hidden_nonlinearity" name="qf_hidden_nonlinearity">
                          <option value="">Choose a Non Linearity</option>
                          <option value="relu">Relu</option>
                          <option value="tanh">tanh</option>
                        </select>
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                    <div class="col col-xl-4">
                      <div class="form-group">
                        <label>Baseline Hidden Sizes</label>
                        <input type="text" class="form-control rl-params" id="baseline_hidden_sizes" name="baseline_hidden_sizes" placeholder="32x32">
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <button data-target=".tab-1" class="go-back btn btn-primary btn-outline">Previous step</button>
                      <button class="btn btn-primary" type="submit" name="submit">Next Step</button>
                    </div>
                  </div>
                </form>
              </div>
              <div role="tabpanel" class="tab-pane" id="tab-3">
                <form id="step-3">
                  <div class="row">
                    <div class="col col-xl-6">
                      <div class="form-group">
                        <label>No of parallel Episode Workers</label>
                        <input type="text" class="form-control rl-params" id="n_parallel" name="n_parallel">
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                    <!-- <div class="col col-xl-6">
                      <div class="form-group">
                        <label>Batch Sampler</label>
                        <select class="form-control rl-params" id="batch-sampler-3" name="batch-sampler-3">
                          <option value="">Should we use Batch Sampler?</option>
                          <option value="true">Yes</option>
                          <option value="false">No</option>
                        </select>
                        <small class="form-control-feedback"></small>
                      </div>
                    </div> -->
                    <div class="col col-xl-6">
                      <div class="form-group">
                        <label>Machine Type</label>
                        <select class="form-control rl-params" id="machine_type" name="machine_type">
                          <option value="">Type of aws instance to launch</option>
                          <option value="t2.medium">t2.medium[2, 4, 0.05]</option>
                          <option value="c4.large">c4.large[2, 3.75, 0.1]</option>
                          <option value="c4.xlarge">c4.xlarge[4, 7.5, 0.2]</option>
                          <option value="c4.2xlarge">c4.2xlarge[8, 15, 0.39]</option>
                          <option value="c4.4xlarge">c4.4xlarge[16, 30, 0.79]</option>
                          <option value="c4.8xlarge">c4.8xlarge[36, 60, 1.59]</option>
                          <option value="c3.large">c3.large[2, 3.75, 0.1]</option>
                          <option value="c3.xlarge">c3.xlarge[4, 7.5, 0.21]</option>
                          <option value="c3.2xlarge">c3.2xlarge[8, 15, 0.42]</option>
                          <option value="c3.4xlarge">c3.4xlarge[16, 30, 0.84]</option>
                          <option value="c3.8xlarge">c3.8xlarge[32, 60, 1.68]</option>
                          <option value="m4.large">m4.large[2, 8, 0.1]</option>
                          <option value="m4.xlarge">m4.xlarge[4, 16, 0.2]</option>
                          <option value="m4.2xlarge">m4.2xlarge[8, 32, 0.4]</option>
                          <option value="m4.4xlarge">m4.4xlarge[16, 64, 0.8]</option>
                        </select>
                        <small class="form-control-feedback"></small>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    
                    <!-- <div class="col col-xl-6">
                      <label>Variants Description</label>
                      <textarea class="form-control rl-params" rows="3" id="variants-description-3" name="variants-description-3"></textarea>
                      <small class="form-control-feedback"></small>
                    </div> -->
                  </div>
                  <div class="row">
                    <div class="col">
                      <button data-target=".tab-2" class="go-back btn btn-primary btn-outline">Previous Step</button>
                      <button class="btn btn-primary" type="submit" name="submit">Launch Experiment</button>
                      <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-sm">Test Modal</button> -->
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end forms/typeahead -->