<div class="row">
  <div class="col">
    <div class="widget">
      <div class="row">
        <div class="col">
          <h3>
            <a routerLink="/escher/console">Escherboard</a>
          </h3>
          <div class="row">
            <div class="col-6">
              <div id="step1">
                <p><b>Click below to checkout sample neural networks built on the dashboard.</b></p>
                <button class="btn btn-primary" (click)="editModel('resnet18')">Resnet 18</button>
                <button class="btn btn-primary" (click)="editModel('unet')">Unet</button>
                <button class="btn btn-primary" (click)="editModel('mnist')">MNIST</button>
              </div>
              <video src="/assets/webm/escherboard.webm" width="500" height="333" autoplay loop controls></video>
            </div>
            <div class="col-6">
              <div id="step_walkthrough" class="pull-right">
                <button class="btn btn-primary" (click)="walkThrough()">WALKTHROUGH</button>
              </div>
              <p>Here you can build deep learning models by adding layers and connecting them. Currently we support any directed
                acyclic graph formed with the layers available.</p>
              <p>
                <b>Instructions</b>
              </p>
              <ul>
                <li>You can add layers to the canvas by clicking on the respective layer buttons</li>
                <li>Click on a layer to select it, or you can select multiple layers by click and drag and making a rectangle.</li>
                <li>Select layers to copy, paste, drag, delete.</li>
                <li>You can pan the canvas by right clicking anywhere on the canvas and dragging.</li>
                <li>You can link layers by clicking on the link layers button, and then clicking on the input layer and then
                  clicking on the output layer. The order in which you click matters here, as we are trying to build a directed
                  acyclic graph.</li>
                <li>You can save the network you built by clicking on the "Save to DB", Don't forget to name your network.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h3>
            <a routerLink="/escher/supervised">Supervised Learning</a>
          </h3>
          <div id="step2">
            <p>Click below to see a sample supervised learning experiment page.</p>
            <ul>
              <li><a [routerLink]="['/escher/sup-experiment', '5ab35af8f275b53a28c73e7e']">Sample Experiment with Variants</a></li>
              <!-- <li><a [routerLink]="['/escher/sup-experiment', '5a48050608d1a338d21d38e4']">Sample Supervised Learning</a></li> -->
              <li><a [routerLink]="['/escher/sup-experiment', '5ab2a204f275b53a28c73e7d']">Plates Classification</a></li>              
              <li><a [routerLink]="['/escher/sup-experiment', '5a7874586ef1c430a0031ce8']">Cats Vs Dogs Classification</a></li>
            </ul>
          </div>
          <p>Notes</p>
          <ul>
            <li>You can create the dataset in the datasets page, it basically a http link of the data</li>
            <li>Specify the loss function, optimizer</li>
            <li>You can specify the hyperparameters by basically giving a comma seperated values when applicable, and we will
              launch all the variants of the experiment based on the hyperparameters</li>
            <li>While the training is happening, you can see layer level gradient statistics at each epoch of each hyperparamenter
              variant of the experiment in the experiment page.</li>
            <li>You can monitor machine level cpu/load/memory stats to see and modify if your compute resources are being used effectively</li>
          </ul>
        </div>
        <div class="col-6">
          <h3>
            <a routerLink="/escher/datasets">Datasets</a>
          </h3>
          <p>Notes</p>
          <ul>
            <li>You can create a dataset by giving us any downloadable http link.</li>
            <li>While training we download the data to the respective machines automatically and train.</li>
            <li>Currently we only support image datasets.</li>
            <li>The upload should be a zipped file with the following directory structure.</li>
          </ul>
          <p>Zipped folder Structure</p>
          <ul>
            <li>data</li>
            <ul>
              <li>train</li>
              <ul>
                <li>Cat 1</li>
                <li>Cat 2</li>
                <li>Cat 3</li>
              </ul>
              <li>val</li>
              <ul>
                <li>Cat 1</li>
                <li>Cat 2</li>
                <li>Cat 3</li>
              </ul>
            </ul>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>
            <a routerLink="/escher/rl">Reinforcement Learning</a>
          </h3>
          <div id="step3">
            <p>Click below to see a sample reinforcement learning experiment page.</p>
            <button class="btn btn-primary" [routerLink]="['/escher/rl-experiment', '5ab3b103f275b53a28c73e7f']">Sample Reinforcement Learning Experiment</button>
            <button class="btn btn-primary" [routerLink]="['/escher/rl-experiment', '5ab57426e28e521f92a7228b']">Lunar Lander</button>
            <button class="btn btn-primary" [routerLink]="['/escher/rl-experiment', '5ab4cd998d76b7696f2b8f13']">Bipedal Walker</button>
            <button class="btn btn-primary" [routerLink]="['/escher/rl-experiment', '5ab4c3f68d76b7696f2b8f11']">Acrobot</button>
            <button class="btn btn-primary" [routerLink]="['/escher/rl-experiment', '5ab4bef28d76b7696f2b8f0e']">Pendulum</button>
            
          </div>
          <p>Notes</p>
          <ul>
            <li>In reinforcement learning you can train agents from the open ai gym</li>
            <li>Similar to supervised learning you can specify the hyperparameters by giving a comma seperated value</li>
            <li>The training results will be presented to you as training progresses.</li>
            <li>You can monitor the cpu/machine/load statistics variant wise to see if compute resources are getting used effectively.</li>
          </ul>
          <div class="row">
            <div class="col-6">
              <h5>Random Agent</h5>
              <video src="https://s3.amazonaws.com/karaka_test/5a4bc80808d1a338d21d38f1/0/escher/rl_exp/gym_log/openaigym.video.0.1.video000000.mp4"
                width="300" height="200" autoplay loop controls>
              </video>
            </div>
            <div class="col-6">
              <h5>Agent Trained in the above experiment</h5>
              <video src="https://s3.amazonaws.com/karaka_test/5a4bc80808d1a338d21d38f1/0/escher/rl_exp/gym_log/openaigym.video.0.1.video000199.mp4"
                width="300" height="200" autoplay loop controls>
              </video>
            </div></div>
            <div id="step4" class="row">
              <div class="col-3">
                <h5><a [routerLink]="['/escher/rl-experiment', '5ab57426e28e521f92a7228b']">Lunar Lander</a></h5>
                <video src="https://s3.amazonaws.com/karaka_test/5ab57426e28e521f92a7228b/0/escher/rl_exp/gym_log/openaigym.video.0.1.video000033.mp4"
                  width="270" height="200" autoplay loop controls>
                </video>
              </div>
              <div class="col-3">
                <h5><a [routerLink]="['/escher/rl-experiment', '5ab4cd998d76b7696f2b8f13']">BiPedal Walker</a></h5>
                <video src="https://s3.amazonaws.com/karaka_test/5ab4cd998d76b7696f2b8f13/0/escher/rl_exp/gym_log/openaigym.video.0.1.video000300.mp4"
                  width="270" height="200" autoplay loop controls>
                </video>
              </div>
              <div class="col-3">
                <h5><a [routerLink]="['/escher/rl-experiment', '5ab4c3f68d76b7696f2b8f11']">Acrobot</a></h5>
                <video src="https://s3.amazonaws.com/karaka_test/5ab4c3f68d76b7696f2b8f11/0/escher/rl_exp/gym_log/openaigym.video.0.1.video000087.mp4"
                  width="270" height="200" autoplay loop controls>
                </video>
              </div>
              <div class="col-3">
                <h5><a [routerLink]="['/escher/rl-experiment', '5ab4bef28d76b7696f2b8f0e']">Pendulum</a></h5>
                <video src="https://s3.amazonaws.com/karaka_test/5ab4bef28d76b7696f2b8f0e/0/escher/rl_exp/gym_log/openaigym.video.0.1.video000399.mp4"
                  width="270" height="200" autoplay loop controls>
                </video>
              </div>
            
            </div>
            </div>
            </div>
      <div class="row">
        <div class="col-6">
          <h4>Musclo Skeletal Agent trained using TRPO</h4>
          <ul>
            <li>More details on how this agent is trained can be found <a href="https://syllogismos.github.io/blog/2017/10/04/learning-to-walk/">here</a>.</li>
            <li>This is the winning submission for the Learning to Walk competition by Crowd AI</li>
            <li>And is the basis for the Reinforcment Learning part of this dashboard.</li>
          </ul>
        </div>
        <div class="col-6">
          <div style='position:relative;padding-bottom:75%'>
            <iframe src='https://gfycat.com/ifr/AppropriateHairyConure' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;'
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h3>
            <a routerLink="/escher/experiment">Experiments</a>
          </h3>
          <p>Notes</p>
          <ul>
            <li>You can see all your launched supervised and rl experiments here.</li>
            <li>After you are in an individual experiment page, you can relauch or launch a sligthly different experiment by clicking on the relaunch button on the top right</li>
          </ul>
        </div>
        <div class="col-6">
          <h3>
            <a routerLink="/escher/model-zoo">Model Zoo</a>
          </h3>
          <p>Notes</p>
          <ul>
            <li>You can view all your saved models in this page.</li>
            <li>You can edit a model by clicking on the edit button in the model table.</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h3>
            <a routerLink="/escher/payment">Payment</a>
          </h3>
          <p>Notes</p>
          <ul>
            <li>Coming Soon.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>