<div class="bg-dark" *ngIf="layout == 'empty-view-1'"></div>
<!-- <sample-modals *ngIf="controller == 'notifications' && view == 'modals'"></sample-modals> -->
<sample-modals></sample-modals>
<right-sidebar-1 *ngIf="layout == 'default-sidebar-1' || layout == 'collapsed-sidebar-1' || layout == 'off-canvas-1' || layout == 'sidebar-over-1' || layout == 'top-navigation-1' || layout == 'top-navigation-2'"></right-sidebar-1>
<navbar-1 *ngIf="layout == 'default-sidebar-1' || layout == 'collapsed-sidebar-1' || layout == 'off-canvas-1' || layout == 'sidebar-over-1' || layout == 'top-navigation-1' || layout == 'top-navigation-2'"></navbar-1>
<top-navigation-1 *ngIf="layout == 'top-navigation-1'"></top-navigation-1>
<jumbotron-2 *ngIf="layout == 'top-navigation-2'"></jumbotron-2>
<top-navigation-2 *ngIf="layout == 'top-navigation-2'"></top-navigation-2>
<div class="container-fluid">
    <div class="row">
			<div class="left-sidebar-placeholder" *ngIf="layout == 'default-sidebar-1' || layout == 'collapsed-sidebar-1' || layout == 'off-canvas-1' || layout == 'sidebar-over-1' || layout == 'top-navigation-1' || layout == 'top-navigation-2'"></div>
			<left-sidebar-1 *ngIf="layout == 'default-sidebar-1' || layout == 'collapsed-sidebar-1' || layout == 'off-canvas-1' || layout == 'sidebar-over-1' || layout == 'top-navigation-1' || layout == 'top-navigation-2'"></left-sidebar-1>
			<div class="col main">
				<jumbotron-1 *ngIf="(controller != 'dashboards') && (layout == 'default-sidebar-1' || layout == 'collapsed-sidebar-1' || layout == 'off-canvas-1' || layout == 'sidebar-over-1' || layout == 'top-navigation-1')"></jumbotron-1>
				<div class="page">
						<router-outlet></router-outlet>
				</div>
			</div>
	</div>
</div>
<backdrops></backdrops>
